spring:
  application:
    name: shifterizator-backend

  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration
      - org.springframework.boot.actuate.autoconfigure.security.servlet.ManagementWebSecurityAutoConfiguration

server:
  port: ${PORT:8080}
  error:
    include-message: always

jwt:
  secret: ${JWT_SECRET:63yYuYleXPvNFkojq6peEcbwFS8Kbb5NerVz5Sapqk+Q/rMdWm3PUDNb8siO/yh1UkQibSOhrPUDdIt1dCs5fQ==}
  expiration: ${JWT_EXPIRATION:900000}
  refresh-expiration: ${JWT_REFRESH_EXPIRATION:604800000}

r2:
  access-key: ${R2_ACCESS_KEY:}
  secret-key: ${R2_SECRET_KEY:}
  endpoint: ${R2_ENDPOINT:}
  bucket: ${R2_BUCKET:}
  public-base-url: ${R2_PUBLIC_BASE_URL:}


management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operations-sorter: method
    tags-sorter: alpha
    try-it-out-enabled: true