spring:
  config:
    activate:
      on-profile: test

  datasource:
    url: jdbc:h2:mem:shifterizator_test;DB_CLOSE_DELAY=-1;MODE=MYSQL;DATABASE_TO_LOWER=TRUE;DEFAULT_NULL_ORDERING=HIGH
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect

logging:
  level:
    com.shifterizator: INFO
    org.springframework.security: INFO
    org.hibernate.SQL: INFO

